In [72]:
import os
from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv())
import importlib

data_path, project_path, output_path = os.getenv('DATA_PATH'), os.getenv('PROJECT_PATH'), os.getenv('OUTPUT_PATH')
os.chdir(project_path)

import pandas as pd
import pickle

import src.models.trajectory
importlib.reload(src.models.trajectory)
from src.models.trajectory import Trajectory

import src.models.trajectories
importlib.reload(src.models.trajectories)
from src.models.trajectories import Trajectories

import src.utils.go_scattermapbox_trackmap
importlib.reload(src.utils.go_scattermapbox_trackmap)
from src.utils.go_scattermapbox_trackmap import plot_map

import src.utils.go_scatter_timeline
importlib.reload(src.utils.go_scatter_timeline)
from src.utils.go_scatter_timeline import plot_timeline

from dash import Dash, dcc, html, Input, Output, State, ctx

In [73]:
with open(f'{output_path}/trajectories_user_000.pkl', 'rb') as f:
    t0= pickle.load(f)
t0.features

,trajectory_id,user_id,count,start_datetime,end_datetime,duration,centroid
0,000_0,000,908,2008-10-23 02:53:04,2008-10-23 11:11:12,0 days 08:18:08,"{'latitude': 39.99804026762115, 'longitude': 1..."
1,000_1,000,244,2008-10-24 02:09:59,2008-10-24 02:47:06,0 days 00:37:07,"{'latitude': 40.00879404508194, 'longitude': 1..."
2,000_2,000,745,2008-10-26 13:44:07,2008-10-26 15:04:07,0 days 01:20:00,"{'latitude': 39.903279346308736, 'longitude': ..."
3,000_3,000,50,2008-10-27 11:54:49,2008-10-27 12:05:54,0 days 00:11:05,"{'latitude': 39.998038220000005, 'longitude': ..."
4,000_4,000,1477,2008-10-28 00:38:26,2008-10-28 05:03:42,0 days 04:25:16,"{'latitude': 40.00830111645229, 'longitude': 1..."
...,...,...,...,...,...,...,...
166,000_166,000,94,2009-07-01 17:19:36,2009-07-01 17:27:11,0 days 00:07:35,"{'latitude': 40.00707803191491, 'longitude': 1..."
167,000_167,000,5757,2009-07-02 02:25:30,2009-07-02 14:17:46,0 days 11:52:16,"{'latitude': 39.986823062532494, 'longitude': ..."
168,000_168,000,1788,2009-07-03 00:28:00,2009-07-03 08:37:23,0 days 08:09:23,"{'latitude': 40.00194947315444, 'longitude': 1..."
169,000_169,000,436,2009-07-04 04:26:34,2009-07-04 09:49:18,0 days 05:22:44,"{'latitude': 40.000893298165096, 'longitude': ..."
170,000_170,000,2312,2009-07-05 02:53:07,2009-07-05 07:45:15,0 days 04:52:08,"{'latitude': 40.024784344723166, 'longitude': ..."

In [74]:
with open(f'{output_path}/trajectories_user_001.pkl', 'rb') as f:
    t1 = pickle.load(f)
with open(f'{output_path}/trajectories_user_002.pkl', 'rb') as f:
    t2 = pickle.load(f)

In [75]:
t0.features

,trajectory_id,user_id,count,start_datetime,end_datetime,duration,centroid
0,000_0,000,908,2008-10-23 02:53:04,2008-10-23 11:11:12,0 days 08:18:08,"{'latitude': 39.99804026762115, 'longitude': 1..."
1,000_1,000,244,2008-10-24 02:09:59,2008-10-24 02:47:06,0 days 00:37:07,"{'latitude': 40.00879404508194, 'longitude': 1..."
2,000_2,000,745,2008-10-26 13:44:07,2008-10-26 15:04:07,0 days 01:20:00,"{'latitude': 39.903279346308736, 'longitude': ..."
3,000_3,000,50,2008-10-27 11:54:49,2008-10-27 12:05:54,0 days 00:11:05,"{'latitude': 39.998038220000005, 'longitude': ..."
4,000_4,000,1477,2008-10-28 00:38:26,2008-10-28 05:03:42,0 days 04:25:16,"{'latitude': 40.00830111645229, 'longitude': 1..."
...,...,...,...,...,...,...,...
166,000_166,000,94,2009-07-01 17:19:36,2009-07-01 17:27:11,0 days 00:07:35,"{'latitude': 40.00707803191491, 'longitude': 1..."
167,000_167,000,5757,2009-07-02 02:25:30,2009-07-02 14:17:46,0 days 11:52:16,"{'latitude': 39.986823062532494, 'longitude': ..."
168,000_168,000,1788,2009-07-03 00:28:00,2009-07-03 08:37:23,0 days 08:09:23,"{'latitude': 40.00194947315444, 'longitude': 1..."
169,000_169,000,436,2009-07-04 04:26:34,2009-07-04 09:49:18,0 days 05:22:44,"{'latitude': 40.000893298165096, 'longitude': ..."
170,000_170,000,2312,2009-07-05 02:53:07,2009-07-05 07:45:15,0 days 04:52:08,"{'latitude': 40.024784344723166, 'longitude': ..."

In [76]:
t1.features

,trajectory_id,user_id,count,start_datetime,end_datetime,duration,centroid
0,001_0,001,961,2008-10-23 05:53:05,2008-10-23 12:04:28,0 days 06:11:23,"{'latitude': 40.001025668054154, 'longitude': ..."
1,001_1,001,2128,2008-10-23 23:41:04,2008-10-24 06:35:50,0 days 06:54:46,"{'latitude': 39.98513453383459, 'longitude': 1..."
2,001_2,001,7075,2008-10-24 23:44:05,2008-10-25 11:30:01,0 days 11:45:56,"{'latitude': 39.9983859068552, 'longitude': 11..."
3,001_3,001,3676,2008-10-25 23:14:28,2008-10-26 07:08:15,0 days 07:53:47,"{'latitude': 40.01885520048958, 'longitude': 1..."
4,001_4,001,3236,2008-10-26 08:12:29,2008-10-27 04:55:07,0 days 20:42:38,"{'latitude': 40.00238435135976, 'longitude': 1..."
...,...,...,...,...,...,...,...
66,001_66,001,1842,2008-12-12 00:05:34,2008-12-12 05:52:24,0 days 05:46:50,"{'latitude': 39.9857030005428, 'longitude': 11..."
67,001_67,001,691,2008-12-12 14:19:23,2008-12-12 15:32:11,0 days 01:12:48,"{'latitude': 39.99778207525324, 'longitude': 1..."
68,001_68,001,7584,2008-12-13 09:22:04,2008-12-14 01:15:06,0 days 15:53:02,"{'latitude': 40.002517654535694, 'longitude': ..."
69,001_69,001,897,2008-12-14 08:03:34,2008-12-14 11:40:26,0 days 03:36:52,"{'latitude': 39.99515858528422, 'longitude': 1..."
70,001_70,001,539,2008-12-14 23:55:53,2008-12-15 00:31:18,0 days 00:35:25,"{'latitude': 39.9981591113173, 'longitude': 11..."

In [77]:
t2.features

,trajectory_id,user_id,count,start_datetime,end_datetime,duration,centroid
0,002_0,002,1932,2008-10-23 12:45:23,2008-10-23 16:44:22,0 days 03:58:59,"{'latitude': 39.92649512267083, 'longitude': 1..."
1,002_1,002,4756,2008-10-24 00:08:05,2008-10-24 17:28:00,0 days 17:19:55,"{'latitude': 39.92676006812448, 'longitude': 1..."
2,002_2,002,3623,2008-10-25 01:02:05,2008-10-25 14:53:46,0 days 13:51:41,"{'latitude': 39.941549500137874, 'longitude': ..."
3,002_3,002,6077,2008-10-26 02:41:52,2008-10-26 11:31:55,0 days 08:50:03,"{'latitude': 39.92594030129982, 'longitude': 1..."
4,002_4,002,546,2008-10-26 23:38:30,2008-10-27 01:14:19,0 days 01:35:49,"{'latitude': 39.9005456813187, 'longitude': 11..."
...,...,...,...,...,...,...,...
170,002_170,002,362,2009-03-21 02:16:40,2009-03-21 02:28:05,0 days 00:11:25,"{'latitude': 39.91048714640887, 'longitude': 1..."
171,002_171,002,216,2009-03-21 02:28:22,2009-03-21 02:33:06,0 days 00:04:44,"{'latitude': 39.90596612037036, 'longitude': 1..."
172,002_172,002,1421,2009-03-21 11:14:58,2009-03-21 12:08:58,0 days 00:54:00,"{'latitude': 39.910409546094286, 'longitude': ..."
173,002_173,002,57,2009-03-21 12:09:01,2009-03-21 12:11:34,0 days 00:02:33,"{'latitude': 39.92630785964912, 'longitude': 1..."
174,002_174,002,2747,2009-03-22 03:58:16,2009-03-22 08:13:37,0 days 04:15:21,"{'latitude': 40.001302718966144, 'longitude': ..."

In [78]:
t = Trajectories(trajectories = t0.trajectories + t1.trajectories + t2.trajectories)
t.features.sample(10)

,trajectory_id,user_id,count,start_datetime,end_datetime,duration,centroid
250,002_8,002,1699,2008-10-29 00:19:05,2008-10-29 11:15:53,0 days 10:56:48,"{'latitude': 39.907522628605, 'longitude': 116..."
259,002_17,002,445,2008-11-04 00:12:08,2008-11-04 04:19:05,0 days 04:06:57,"{'latitude': 39.902650838202234, 'longitude': ..."
84,000_84,000,722,2009-05-04 02:33:01,2009-05-04 10:21:23,0 days 07:48:22,"{'latitude': 40.00322730193907, 'longitude': 1..."
385,002_143,002,1171,2009-02-28 13:51:12,2009-02-28 14:32:52,0 days 00:41:40,"{'latitude': 39.909017224594386, 'longitude': ..."
146,000_146,000,3608,2009-06-16 05:41:28,2009-06-17 11:13:20,1 days 05:31:52,"{'latitude': 39.97684207400215, 'longitude': 1..."
360,002_118,002,1298,2009-02-12 10:20:03,2009-02-12 11:37:40,0 days 01:17:37,"{'latitude': 39.90888154391369, 'longitude': 1..."
394,002_152,002,1308,2009-03-05 14:03:03,2009-03-05 14:46:09,0 days 00:43:06,"{'latitude': 39.90801315902136, 'longitude': 1..."
336,002_94,002,3656,2009-01-28 07:25:57,2009-01-28 12:42:36,0 days 05:16:39,"{'latitude': 37.4186513082603, 'longitude': 11..."
271,002_29,002,3269,2008-11-13 00:19:01,2008-11-13 15:48:28,0 days 15:29:27,"{'latitude': 39.917383984704756, 'longitude': ..."
308,002_66,002,74,2008-12-22 00:20:58,2008-12-22 00:27:04,0 days 00:06:06,"{'latitude': 39.90307485135134, 'longitude': 1..."

In [82]:
t.user_ids_list

['000', '001', '002']

In [83]:
t.trajectory_ids_list

['000_0',
 '000_1',
 '000_10',
 '000_100',
 '000_101',
 '000_102',
 '000_103',
 '000_104',
 '000_105',
 '000_106',
 '000_107',
 '000_108',
 '000_109',
 '000_11',
 '000_110',
 '000_111',
 '000_112',
 '000_113',
 '000_114',
 '000_115',
 '000_116',
 '000_117',
 '000_118',
 '000_119',
 '000_12',
 '000_120',
 '000_121',
 '000_122',
 '000_123',
 '000_124',
 '000_125',
 '000_126',
 '000_127',
 '000_128',
 '000_129',
 '000_13',
 '000_130',
 '000_131',
 '000_132',
 '000_133',
 '000_134',
 '000_135',
 '000_136',
 '000_137',
 '000_138',
 '000_139',
 '000_14',
 '000_140',
 '000_141',
 '000_142',
 '000_143',
 '000_144',
 '000_145',
 '000_146',
 '000_147',
 '000_148',
 '000_149',
 '000_15',
 '000_150',
 '000_151',
 '000_152',
 '000_153',
 '000_154',
 '000_155',
 '000_156',
 '000_157',
 '000_158',
 '000_159',
 '000_16',
 '000_160',
 '000_161',
 '000_162',
 '000_163',
 '000_164',
 '000_165',
 '000_166',
 '000_167',
 '000_168',
 '000_169',
 '000_17',
 '000_170',
 '000_18',
 '000_19',
 '000_2',
 '000_20',
 '000_21',
 '000_22',
 '000_23',
 '000_24',
 '000_25',
 '000_26',
 '000_27',
 '000_28',
 '000_29',
 '000_3',
 '000_30',
 '000_31',
 '000_32',
 '000_33',
 '000_34',
 '000_35',
 '000_36',
 '000_37',
 '000_38',
 '000_39',
 '000_4',
 '000_40',
 '000_41',
 '000_42',
 '000_43',
 '000_44',
 '000_45',
 '000_46',
 '000_47',
 '000_48',
 '000_49',
 '000_5',
 '000_50',
 '000_51',
 '000_52',
 '000_53',
 '000_54',
 '000_55',
 '000_56',
 '000_57',
 '000_58',
 '000_59',
 '000_6',
 '000_60',
 '000_61',
 '000_62',
 '000_63',
 '000_64',
 '000_65',
 '000_66',
 '000_67',
 '000_68',
 '000_69',
 '000_7',
 '000_70',
 '000_71',
 '000_72',
 '000_73',
 '000_74',
 '000_75',
 '000_76',
 '000_77',
 '000_78',
 '000_79',
 '000_8',
 '000_80',
 '000_81',
 '000_82',
 '000_83',
 '000_84',
 '000_85',
 '000_86',
 '000_87',
 '000_88',
 '000_89',
 '000_9',
 '000_90',
 '000_91',
 '000_92',
 '000_93',
 '000_94',
 '000_95',
 '000_96',
 '000_97',
 '000_98',
 '000_99',
 '001_0',
 '001_1',
 '001_10',
 '001_11',
 '001_12',
 '001_13',
 '001_14',
 '001_15',
 '001_16',
 '001_17',
 '001_18',
 '001_19',
 '001_2',
 '001_20',
 '001_21',
 '001_22',
 '001_23',
 '001_24',
 '001_25',
 '001_26',
 '001_27',
 '001_28',
 '001_29',
 '001_3',
 '001_30',
 '001_31',
 '001_32',
 '001_33',
 '001_34',
 '001_35',
 '001_36',
 '001_37',
 '001_38',
 '001_39',
 '001_4',
 '001_40',
 '001_41',
 '001_42',
 '001_43',
 '001_44',
 '001_45',
 '001_46',
 '001_47',
 '001_48',
 '001_49',
 '001_5',
 '001_50',
 '001_51',
 '001_52',
 '001_53',
 '001_54',
 '001_55',
 '001_56',
 '001_57',
 '001_58',
 '001_59',
 '001_6',
 '001_60',
 '001_61',
 '001_62',
 '001_63',
 '001_64',
 '001_65',
 '001_66',
 '001_67',
 '001_68',
 '001_69',
 '001_7',
 '001_70',
 '001_8',
 '001_9',
 '002_0',
 '002_1',
 '002_10',
 '002_100',
 '002_101',
 '002_102',
 '002_103',
 '002_104',
 '002_105',
 '002_106',
 '002_107',
 '002_108',
 '002_109',
 '002_11',
 '002_110',
 '002_111',
 '002_112',
 '002_113',
 '002_114',
 '002_115',
 '002_116',
 '002_117',
 '002_118',
 '002_119',
 '002_12',
 '002_120',
 '002_121',
 '002_122',
 '002_123',
 '002_124',
 '002_125',
 '002_126',
 '002_127',
 '002_128',
 '002_129',
 '002_13',
 '002_130',
 '002_131',
 '002_132',
 '002_133',
 '002_134',
 '002_135',
 '002_136',
 '002_137',
 '002_138',
 '002_139',
 '002_14',
 '002_140',
 '002_141',
 '002_142',
 '002_143',
 '002_144',
 '002_145',
 '002_146',
 '002_147',
 '002_148',
 '002_149',
 '002_15',
 '002_150',
 '002_151',
 '002_152',
 '002_153',
 '002_154',
 '002_155',
 '002_156',
 '002_157',
 '002_158',
 '002_159',
 '002_16',
 '002_160',
 '002_161',
 '002_162',
 '002_163',
 '002_164',
 '002_165',
 '002_166',
 '002_167',
 '002_168',
 '002_169',
 '002_17',
 '002_170',
 '002_171',
 '002_172',
 '002_173',
 '002_174',
 '002_18',
 '002_19',
 '002_2',
 '002_20',
 '002_21',
 '002_22',
 '002_23',
 '002_24',
 '002_25',
 '002_26',
 '002_27',
 '002_28',
 '002_29',
 '002_3',
 '002_30',
 '002_31',
 '002_32',
 '002_33',
 '002_34',
 '002_35',
 '002_36',
 '002_37',
 '002_38',
 '002_39',
 '002_4',
 '002_40',
 '002_41',
 '002_42',
 '002_43',
 '002_44',
 '002_45',
 '002_46',
 '002_47',
 '002_48',
 '002_49',
 '002_5',
 '002_50',
 '002_51',
 '002_52',
 '002_53',
 '002_54',
 '002_55',
 '002_56',
 '002_57',
 '002_58',
 '002_59',
 '002_6',
 '002_60',
 '002_61',
 '002_62',
 '002_63',
 '002_64',
 '002_65',
 '002_66',
 '002_67',
 '002_68',
 '002_69',
 '002_7',
 '002_70',
 '002_71',
 '002_72',
 '002_73',
 '002_74',
 '002_75',
 '002_76',
 '002_77',
 '002_78',
 '002_79',
 '002_8',
 '002_80',
 '002_81',
 '002_82',
 '002_83',
 '002_84',
 '002_85',
 '002_86',
 '002_87',
 '002_88',
 '002_89',
 '002_9',
 '002_90',
 '002_91',
 '002_92',
 '002_93',
 '002_94',
 '002_95',
 '002_96',
 '002_97',
 '002_98',
 '002_99']

In [84]:
t.trajectories[0].df

,user_id,trajectory_id,label,datetime,latitude,longitude,altitude,timestamp,time_diff,distance,speed
0,000,000_0,None,2008-10-23 02:53:04,39.984702,116.318417,492,1.224730e+09,0.0,0.000000,0.000000
1,000,000_0,None,2008-10-23 02:53:10,39.984683,116.318450,492,1.224730e+09,6.0,3.520694,0.586782
2,000,000_0,None,2008-10-23 02:53:15,39.984686,116.318417,492,1.224730e+09,5.0,2.838241,0.567648
3,000,000_0,None,2008-10-23 02:53:20,39.984688,116.318385,492,1.224730e+09,5.0,2.742220,0.548444
4,000,000_0,None,2008-10-23 02:53:25,39.984655,116.318263,492,1.224730e+09,5.0,11.045822,2.209164
...,...,...,...,...,...,...,...,...,...,...,...
903,000,000_0,None,2008-10-23 11:10:52,40.009172,116.321211,88,1.224760e+09,5.0,15.498864,3.099773
904,000,000_0,None,2008-10-23 11:10:57,40.009204,116.321130,86,1.224760e+09,5.0,7.775303,1.555061
905,000,000_0,None,2008-10-23 11:11:02,40.009243,116.321050,85,1.224760e+09,5.0,8.087580,1.617516
906,000,000_0,None,2008-10-23 11:11:07,40.009269,116.320978,84,1.224760e+09,5.0,6.791636,1.358327
907,000,000_0,None,2008-10-23 11:11:12,40.009328,116.320887,83,1.224760e+09,5.0,10.162967,2.032593